# RStudio-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore raw and processed data, but keep folder structure
data/raw/
data/processed/
!data/README.md  # Allow README file for documentation

# Ignore data files globally
*.csv
*.xlsx

# Ignore generated plots and images
*.png
*.jpg
*.pdf
*.tiff

# Ignore all files in outputs, but keep folder structure
outputs/
!outputs/README.md  # Allow README file for documentation

# macOS system files
.DS_Store
